# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/api/node_modules
/client/node_modules
/api/.env


# testing
/coverage

# production
/client/build


api/config/credentials.json
api/config/config.json
api/config/token.json
api/config/oldtoken.json
api/config/sequelizeConfig.js
api/config/certs/cert.pem
api/config/certs/privkey.pem
