.WeatherRow {
  margin: 0px;
  font-size: 20pt;
  padding-bottom: 15px;
}

.WeatherInfo {
  padding-top: 15px;
}

.Column1 {
  width: 20%;
}

.Column2 {
  width: 60%;
  text-align: center;
}

.Column3 {
  width: 20%;
  margin: auto;
}

.Container {
  display: flex;
}
